@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

:root {
    --blue: #080044;
    --navy: #0000AA;
    --red: #B00;
    --gold: #f0ad4e;
    --gray: #DDDDDD;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--gray);
    margin: 0px;
    width: 100%;
}

p {
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

h1 {
    font: 44px 'Montserrat', sans-serif;
    text-align: center;
    color: var(--blue);
}

h2 {
    font: 20px 'Montserrat', sans-serif;
    color: #fff;
    padding: 12px 24px;
}

.bigcontainer {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    padding: 0px;
}

.sidebar {
    width: 20%; 
    background-color: var(--blue);
    margin: 0;
}

.centre {
    background-color: var(--gray);
    margin: 0;
    flex-grow: 4;
    display: flex;
}

.sidebtn {
    position: inherit;
    font: 16px 'Montserrat', sans-serif;
    padding: 12px 24px;
    background-color: var(--blue);
    width: 100%;
    height: 30%;
    border: none;
    color: var(--gold);
    cursor: pointer;
    transition: background-color 0.2s ease;
    transition: padding 0.4s ease;
}

#logout {
    position: inherit;
    font: 16px 'Montserrat', sans-serif;
    padding: 12px 24px;
    background-color: var(--red);
    width: 100%;
    height: 30%;
    border: none;
    color: var(--gold);
    cursor: pointer;
    transition: padding 0.4s ease;
}

.sidebtn span {
    background: 
      linear-gradient(currentColor 0 0) 
      0 100% /var(--d, 0) 3px 
    no-repeat;
    transition:0.4s;
}

.sidebtn:hover {
    background-color: var(--gold);
    color: var(--blue);
    padding-left: 48px;
    --d: 100%;
}

.logout span {
    background: 
      linear-gradient(currentColor 0 0) 
      0 100% /var(--d, 0) 3px 
    no-repeat;
    transition:0.4s;
}

#logout:hover {
    padding-left: 48px;
    --d: 100%;
}

.papers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 12px auto;
}

.papers button {
    font: 20px 'Montserrat', sans-serif;
    width: max-content;
    padding: 12px;
    background-color: var(--blue);
    border-radius: 6px;
    border: none;
    color: var(--gold);
    cursor: pointer;
    transition: background-color 0.2s ease;
    flex-grow: 1;
    align-self: flex-start;
}

.papers button span {
    background: 
      linear-gradient(currentColor 0 0) 
      0 100% /var(--d, 0) 3px 
    no-repeat;
    transition:0.4s;
}

.papers button:hover {
    background-color: var(--gold);
    color: var(--blue);
    --d: 100%;
}


